.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;

    h1 {
        font-weight: bold;
        font-size: 48px;
        text-align: center;
        padding: 20px;
    }

    span {
        font-size: 18px;
        font-family: sans-serif;
    }

    p {
        margin-top: 50px;
        font-size: 18px;
        font-family: sans-serif;
    }

    img {
        max-width: 50px;
        margin: 20px 0;
    }
}