$background-1: #000;

$foreground-1: #fff;

$font-main: Helvetica, sans-serif;
$font-size-main: 20px;
$line-height-main: 20px;
$font-size-main-2: 40px;
$line-height-main-2: 44px;

$font-size-title-1: 124px;
$line-height-title-1: 106px;
$font-size-title-2: 170px;
$line-height-title-2: 136px;

$max-content-width: 95vw;

$section-spacing: 25vh;
