@use '../../styles/variables';

.numbered-section {
    $padding-top: 20vh;

    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    padding-top: variables.$section-spacing;
    position: relative;

    & > section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__number {
        position: absolute;
        left: 5vw;
        top: variables.$section-spacing;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;

        h2 {
            text-transform: uppercase;
        }
    }

    &--no-spacing {
        padding-top: 0;
    }
}
