@use '../../styles/variables';

.numbered-section {
    $padding-top: 20vh;

    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: variables.$section-spacing;
    position: relative;

    &__number {
        position: absolute;
        left: 5vw;
        top: variables.$section-spacing;
    }
}
