@use '../../styles/variables';

.works {
    width: 100%;
    display: flex;
    flex-flow: column;

    .period {
        display: flex;
        margin-bottom: 50px;

        & > div {
            width: 50%;
        }

        &__image {
            width: 100%;
            height: 120vh;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}
