@use '../../styles/variables';

.brief-me {
    $text-spacing: 40;

    position: absolute;
    left: 30%;
    width: 60%;
    top: variables.$section-spacing;

    display: flex;
    flex-flow: column;

    &__main {
        font-size: variables.$font-size-main-2;
        line-height: variables.$line-height-main-2;
        margin-bottom: #{$text-spacing}px;
        text-transform: uppercase;

        &:last-of-type {
            margin-bottom: #{$text-spacing * 3}px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 80%;

        p {
            line-height: 28px;
        }

        & > p {
            width: 100%;
            max-width: 200px;
        }
    }

    &__two-par {
        width: 100%;
        max-width: 60%;

        p:not(:last-child) {
            margin-bottom: #{$text-spacing}px;
        }
    }
}
